
/* ALL THE FONTS!!
font-family: 'Aldrich', sans-serif; menu logo
font-family: 'Allerta Stencil', sans-serif; nah
font-family: 'Bungee Hairline', cursive; logo
font-family: 'Fredericka the Great', cursive; no
font-family: 'Geo', sans-serif; menu logo no Title
font-family: 'JetBrains Mono', monospace;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Major Mono Display', monospace; logo
font-family: 'Megrim', cursive; logo
font-family: 'Michroma', sans-serif;
font-family: 'Quantico', sans-serif; menu
font-family: 'Raleway Dots', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Zen Kurenaido', sans-serif; logo menu
ALL THE FONTS!!! */


body {
  background-image: url("/images/sands.jpg");
  /* background-image: url("/images/demo2.gif"); */
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Michroma', sans-serif;

}

html, body {
  margin: 0;


  /* Disable Scroll Bounce! */
  /* height: 100%; */
  /* overflow: hidden; */
}

/* DISABLE SCROLL BOUNCE! */
/* #main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
} */
/* DISABLE SCROLL BOUNCE! */

img, .title-logo{
/* cursor: default; */

user-drag: none;
-webkit-user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: auto 1em auto 1em; */
  color: #F7F7F7;


  /* justify-content: center; */
}

#header a{
  text-decoration: none;
}

#header p{
  /* LOGO */
  font-family: 'Major Mono Display', monospace;

  font-size: 1em;
  font-weight: bold;
  line-height: 0.8em;
  margin: 1.5em;
  color: #F7F7F7;

}

.menu a{
  font-size: 0.6em;
  margin: auto 5em;
  text-decoration: none;
  color: #F7F7F7;
  text-align: center;
  padding: 2em;

  transition: all ease-out 0.4s;
}

.menu a:hover{
  /* background-color: yellow; */
  background-color: white;

  color: black;
  padding-top: 4em;

  padding-bottom: 100vh;
}

/* EXPERIMENTAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: 'Quantico', sans-serif;
  background-color: #fefefe;
  color: black;
  font-size: 0.6em;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 5px 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: justify;

}

.modal-content p{
  margin: 30px 35px;
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button{
  font-size: 0.5em !important;
  background: #fefefe;
	color: black;
	border: none;
	padding: 7px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-top: 1em;
}

#expBtn{
  display: block;
  position: absolute;
  right: 16em;
  transition: ease-out 0.1s;
}

#expBtn:hover{
  /* right: 11em; */
  background-color: black;
  color: #fefefe;
  border: solid;
  border-width: 1px;
  border-color: #fefefe;
  /* right: 9.9em; */
}



/* #header h3{
  font-size: 5em;
  text-align: center;
  margin: 25vh;
} */

/* Title Section */
#title-section{
  margin: 8em 18em 4em 18em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-logo{
  font-family: 'Aldrich', sans-serif;

  font-size: 10em;
  line-height: 0.8em;
  margin: 0;
  color: #F7F7F7;
  text-align: center;
}

.title-sub{

  color: #F7F7F7;
  font-size: 1.2em;
  text-align: center;
}

.down-arrow{
  filter: invert(1);
  position: absolute;
  right: 2em;
  bottom: 2em;
  width: 3em;

  transform: scale(1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		/* transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
    bottom: 1em;
	}

	70% {
		/* transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
    bottom: 2em;

	}

	100% {
		/* transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
    bottom: 1em;

	}
}

.spacer{
  /* padding: 8em; */
}

.gradient-top{
  padding-top: 11em;
  background: rgb(255,216,155);
  background: linear-gradient(180deg, rgba(255,216,155,0) 20%, rgba(0,0,0,0.500437675070028) 80%);
}

.gradient-bottom{
  padding-bottom: 11em;
  background: rgb(255,216,155);
  background: linear-gradient(0deg, rgba(255,216,155,0) 20%, rgba(0,0,0,0.500437675070028) 80%);
}

#content1-section{

  background-color: rgba(0, 0, 0, 0.5);
}

.c1d1{
  margin: 0 8em 5em 8em;
  font-size: 1.5em;
  color: #F7F7F7;
  text-align: justify;

}

.c1d1 > p{
  margin: 0;
}

#content2-section{
  background-color: rgba(0, 0, 0, 0.5);

}

.flexbox{
  display: flex;
  justify-content: center;
  padding: 0 5em 0 5em;
}

.c2d1{
  margin: 0 2em 0 2em;
  font-size: 1.5em;
  color: #F7F7F7;
  text-align: justify;}

canvas {
  margin: 0 auto;
  display: block;
}

.flex-card{
  margin: 5em 12em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5em;

  text-align: justify;
  color: #F7F7F7;
}

.card-img{
  width: 400px;
}
