body {
  background-image: url("/images/sands.jpg");
  /* background-image: url("/images/demo2.gif"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


html, body {
  margin: 0;

  /* Disable Scroll Bounce! */
  height: 100%;
  overflow: hidden;
}


#main-container {/* DISABLE SCROLL BOUNCE! */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}/* DISABLE SCROLL BOUNCE! */

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: auto 1em auto 1em; */
  color: #F7F7F7;


  /* justify-content: center; */
}

#header a{
  text-decoration: none;
}

#header p{
  /* LOGO */
  font-size: 1em;
  font-weight: bold;
  line-height: 0.8em;
  margin: 1.5em;
  color: #F7F7F7;
}

.menu a{
  font-size: 0.6em;
  margin: auto 5em;
  text-decoration: none;
  color: #F7F7F7;

}

/* EXPERIMENTAL */
/* #header h3{
  font-size: 5em;
  text-align: center;
  margin: 25vh;
} */

/* Title Section */
#title-section{
  margin: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-logo{
  font-size: 10em;
  line-height: 0.8em;
  margin: 0;
  color: #F7F7F7;
}

.spacer{
  /* padding: 8em; */
}

.gradient-top{
  padding-top: 5em;
  background: rgb(255,216,155);
  background: linear-gradient(180deg, rgba(255,216,155,0) 20%, rgba(0,0,0,0.500437675070028) 80%);
}

#content1-section{

  background-color: rgba(0, 0, 0, 0.5);
}

.c1d1{
  margin: 0 5em 5em 5em;
  font-size: 2em;
  color: #F7F7F7;

}

.c1d1 p{
  margin: 0;
}
